<form action="/square_root/results">
  <label for="zebra">Enter a number</label>
  <input id="zebra" type="text" placeholder="What number do you want to square?" name="monkey">
  <button>Calculate square root</button>
</form>