<!DOCTYPE html>
<html>
  <head>
    <title>OmnicalcParams</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <table style="width: 100%">
      <tr>
        <td>
          <strong>Part I Targets</strong>
        </td>

        <td>
          <a href="/flexible/square/5">
            Example of Square with Flexible Path Segment (using 5)
          </a>
        </td>

        <td>
          <a href="/flexible/square_root/8">
            Example of Square Root with Flexible Path Segment (using 8)
          </a>
        </td>

        <td>
          <a href="/flexible/payment/410/30/250000">
            Example of Payment with Flexible Path Segments
          </a>
        </td>

        <td>
          <a href="/flexible/random/50/100">
            Example of Random with Flexible Path Segments
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Part II Targets</strong>
        </td>

        <td>
          <a href="/square/new">
            Square with Form
          </a>
        </td>

        <td>
          <a href="/square_root/new">
            Square Root with Form
          </a>
        </td>

        <td>
          <a href="/payment/new">
            Payment with Form
          </a>
        </td>

        <td>
          <a href="/random/new">
            Random with Form
          </a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
